html
  head
  body
    h1 Register Here
    form(method='POST')
      input(type='email' name='email' placeholder='e@mail.com')
      input(type='password' name='password' placeholder='password')
      input(type='submit' value='Register')